<div class="layui-side layui-side-menu">
    <div class="layui-side-scroll">
        <div class="layui-logo" lay-href=""> <span>后台管理系统</span> </div>
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item" id="leftNav-1">
                <a href="/admin/index"><i class="iconfont icon-home"></i>首页</a>
            </li>
            <li class="layui-nav-item" id="leftNav-2">
                <a class="" href="javascript:;"><i class="iconfont icon-yonghu"></i>用户管理</a>
                <dl class="layui-nav-child">
                    <dd id="leftNav-2-1">
                        <a href="/admin/admin/index">后台管理员</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item" id="leftNav-3">
                <a href="javascript:;"><i class="iconfont icon-quanxianguanli"></i>权限管理</a>
                <dl class="layui-nav-child">
                    <dd id="leftNav-3-1"><a href="/admin/authority">功能权限</a></dd>
                    <dd id="leftNav-3-2"><a href="/admin/role">角色管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" id="leftNav-4">
                <a href="javascript:;"><i class="iconfont icon-lanmuguanli"></i>内容管理</a>
                <dl class="layui-nav-child">
                    <dd id="leftNav-4-1"><a href="/admin/column">栏目管理</a></dd>
                    <dd id="leftNav-4-2"><a href="admin/article">文章管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" id="leftNav-5">
                <a href="/admin/visit"><i class="iconfont icon-tongji"></i>访问统计</a>
            </li>
            <li class="layui-nav-item" id="leftNav-6">
                <a href="javascript:;"><i class="iconfont icon-shezhi"></i>系统管理</a>
                <dl class="layui-nav-child">
                    <dd id="leftNav-6-1"><a href="/admin/system">网站配置</a></dd>
                </dl>
                <dl class="layui-nav-child">
                    <dd id="leftNav-6-2"><a href="/admin/navbar">导航管理</a></dd>
                </dl>
                <dl class="layui-nav-child">
                    <dd id="leftNav-6-3"><a href="/admin/loginLog">登录日志</a></dd>
                </dl>
                <dl class="layui-nav-child">
                    <dd id="leftNav-6-4"><a href="/admin/operateLog">操作日志</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>