.layui-table tr th { text-align: center; }
.add-user { display: block; clear: both; margin-top: 20px; }
.thumb-img { display: none; margin-top: 10px; }

.layui-nav-item i.iconfont{font-size: 16px; margin-right:10px; color: rgba(255,255,255,.7);}
.layui-nav-item.layui-nav-itemed i.iconfont{font-size: 16px; margin-right:10px; color: #fff;}
.layui-nav-child dd {padding-left:26px;}
.layui-form-pane .layui-form-label {
    overflow: inherit;
}